#main_width {
    width: 100vw;
    margin: 0;
    background: #fdf2c7;
}

[src='https://img1.shop2000.com.tw/pattern/226165/1.gif'] {
    display: none;
}

[style='background:url(https://img1.shop2000.com.tw/pattern/226165/22.gif);background-repeat: repeat-x;width:95%'] {
    display: none;
}

.p_row {
    background-color: rgba(255, 255, 255, 0.6);
}
