#main_width {
    width: 100vw;
    margin: 0;
}


/* News */

[style="height:300px;overflow-y:auto;"] {
    height: initial;
}


/* Related link */

.L_ul .content1 {
    margin-top: 0;
}

.text1 {
    overflow-x: initial;
    width: auto;
}